@model Authentication.Models.Diagnostics.DiagnosticsViewModel

<div class="container mb-3">
    <div class=" ">

        <h1 class="text-center mb-3">Authentication cookie</h1>

        <div class="card">
            <div class="card-header">
                Claims
            </div>
            <div class="card-body">
                <dl>
                    @foreach (var claim in Model.AuthenticateResult.Principal.Claims)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>
                    }
                </dl>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                Properties
            </div>
            <div class="card-body">
                <dl>
                    @foreach (var prop in Model.AuthenticateResult.Properties.Items)
                    {
                        <dt>@prop.Key</dt>
                        <dd>@prop.Value</dd>
                    }
                </dl>
            </div>
        </div>
        @if (Model.Clients.Any())
        {
            <div class="card mt-3">
                <div class="card-header">
                    Clients
                </div>
                <div class="card-body">
                    <ul>
                        @foreach (var client in Model.Clients)
                        {
                            <li>@client</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>